# Non-Config Program files

mimeapps.list
kiorc
kdeglobals
pavucontrol.ini
code-flags.conf
baloofileinformationrc
arkrc

zed
kwalletrc
xsettingsd
systemd
spotify
spicetify
session
protonvpn
pulse
procps
predator
obsidian
nwg-look
nextjs-nodejs
microsoft-edge
menus
kde.org
create-next-app-nodejs 
dconf
cfg_backups
Code - OSS
Docker Desktop
gh
Kvantum
gh-copilot
github-copilot 
