Code
Docker Desktop
Insomnia
QtProject
cfg_backups
configstore
create-next-app-nodejs
dconf
discord
figma-linux
github-copilot
google-chrome
kde.org
lazygit
microsoft-edge
nextjs-nodejs
nwg-look
obs-studio
procps
pulse
session
swappy
vlc
xsettingsd
yay
arkrc
baloofileinformationrc
kconf_updaterc
kdeglobals
kiorc
mimeapps.list
trashrc

