
//@theme "/home/abhidahal/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/abhidahal/.config/rofi/themes/style_1.rasi"

//@theme "/home/abhidahal/.local/share/rofi/themes/rounded-nord-dark.rasi"

@theme "/home/abhidahal/.config/rofi/themes/style_1.rasi"
