//@theme "/home/abhidahal/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/abhidahal/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/abhidahal/.config/rofi/themes/clipboard.rasi"

//@theme "/home/abhidahal/.local/share/rofi/themes/launchpad.rasi"

@theme "/home/abhidahal/.config/rofi/themes/custom.rasi"
