* {
    main-bg:            #2E3440B3;
    main-fg:            #CCDDFFE6;
    main-br:            #5D7EA6E6;
    main-ex:            #475368E6;
    select-bg:          #AAD5F080;
    select-fg:          #294252E6;
}
